/*---- BODY---*/
body {
  font-family: Roboto, sans-serif;
  color: #434455;
  background: #FFF;
  font-style: normal;}
  
  /* Headers text color */
:root {
--text-color:#2E2F42;
--logo-color:#4D5AE5; 
--span-color:#2E2F42; 
    }
:root {
  --link-color:#2e2f42;}

/* Rule for links */
.link {text-decoration: none;}

/* Rule for lists */
.list {list-style-type: none;
color: var(--text-color);
}
.nav-link: {color: var(--link-color);}
.nav-link:hover,
.nav-link:focus {color: #404BBF;}

.list:hover,
.list:focus {color: #404bbf;}

.ul {
  list-style-type: none;
}
/* LOGO */

.span {color: var(--span-color);}
.accent {color: #4D5AE5;}
.logo {
font-family: Raleway, sans-serif;
font-size: 18px;
font-weight: 800;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--logo-color);
}
/* Header */
.nav {color: var(--text-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;}

.address {color: #434455;
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* HERO section */
.hero {background-color: #2E2F42;
     }

.hero-header {
  color: #FFF;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
}

.button {
background-color: #4D5AE5;
color: #FFF;
font-family: Roboto, sans-serif;
  font-size: 16px;
   font-style: normal;
   font-weight: 500;
   line-height: 1.5;
   letter-spacing: 0.04em;
}
.hero-button {background-color: #4D5AE5;
  color: #FFF;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;}

.hero-button:hover, 
.hero-button:focus {
      background-color: #404BBF;
      cursor: pointer;
  }
/* Section Benefits */

.subsection-header {font-family: Roboto; sans-serif;
  color: #2e2f42;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;}

.p {color: #434455;
font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;}

    /* What are we doing */
.service-header {font-family: Roboto;
  color: #2E2F42;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-transform: capitalize;}

.footer {background-color: #2E2F42;
}
.span-footer {color: #FFF;}
.p-footer {font-family: Roboto; 
  color: #F4F4FD;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;}

  /* Portfolio */
.list-button
{  background-color: #F4F4FD;
  color: var(--navyblue);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;}

  .list-button:hover,
  .list-button:focus {color: #404BBF;}
