/*---- BODY---*/
body {
    font-family: Roboto, sans-serif;
    color: #F4F4FD
    background: #FFF;}


/* Rule for links */
.link {text-decoration: none;}

/* Rule for lists */
.ul {list-style-type: none;}

/* LOGO */
.logo {font-family: raleway, sans-serif;
font-size: 18px}
.accent {color: #4D5AE5;}
